@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0D0B1D;
  --foreground: #E1E0E2;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0B1D;
    --foreground: #E1E0E2;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
