@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d0b1d;
  --foreground: #e1e0e2;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0B1D;
    --foreground: #E1E0E2;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
